{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <h1 class="mb-4">Meine Merkliste</h1>
            {% if wishlists is not empty %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                    {% for item in wishlists %}

                        <div class="col">
                            <div class="card text-bg-dark border-secondary mb-3">
                                <img src="{{ asset('bilder/' ~ item.property.bild) }}" class="card-img-top" alt="{{ item.property.propertyTitle }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.property.propertyTitle }}</h5>
                                    <span><a href="{{ path('app_create_property.show',{id: item.property.id}) }}" type="button" class="btn btn-success text-white">mehr Infos</a></span> <span><a href="{{ path('app_wishlist_delete', {id: item.id}) }}" class="btn btn-outline-primary">entfernen</a></span>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            {% else %}
                <p>Deine Merkliste ist leer!</p>
            {% endif %}




    </div>
{% endblock %}
