{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
    <h1>Meine Daten:</h1>
        <br>
        <div class="card text-bg-dark border-secondary mb-3" style="width: 25rem;">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">{{ email }}</li>
                <li class="list-group-item">{{ customer.firstname }}</li>
                <li class="list-group-item">{{ customer.lastname }}</li>
                <li class="list-group-item">{{ customer.phone }}</li>
                <li class="list-group-item">{{ customer.street }} {{ customer.streetnumber }}</li>
                <li class="list-group-item">{{ customer.zipcode }}</li>
                <li class="list-group-item">{{ customer.city }}</li>
                <li class="list-group-item">{{ customer.state }}</li>
                <li class="list-group-item">{{ customer.country }}</li>
            </ul>
            <a href="{{ path('app_customer_data_edit') }}" type="button" class="btn btn-primary">Daten ändern</a>
        </div>

        {#
        <div>
            <table>
                <tbody>
                <tr>
                    <th scope="row">Email: </th>
                    <td>{{ email }}</td>
                </tr>
                <tr>
                    <th scope="row">Mein Vorname: </th>
                    <td>{{ customer.firstname }}</td>
                </tr>
                <tr>
                    <th scope="row">Mein Nachname: </th>
                    <td>{{ customer.lastname }}</td>
                </tr>
                <tr>
                    <th scope="row">Telefon: </th>
                    <td>{{ customer.phone }}</td>
                </tr>
                <tr>
                    <th scope="row">Straße: </th>
                    <td>{{ customer.street }}</td>
                </tr>
                <tr>
                    <th scope="row">Hausnummer: </th>
                    <td>{{ customer.streetnumber }}</td>
                </tr>
                <tr>
                    <th scope="row">Postleitzahl: </th>
                    <td>{{ customer.zipcode }}</td>
                </tr>
                <tr>
                    <th scope="row">Ort: </th>
                    <td>{{ customer.city }}</td>
                </tr>
                <tr>
                    <th scope="row">Bundesland: </th>
                    <td>{{ customer.state }}</td>
                </tr>
                <tr>
                    <th scope="row">Land: </th>
                    <td>{{ customer.country }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        #}
    </div>


{% endblock %}
