{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
    <h1>Meine Daten</h1>
        <br>
        <div>
            <table>
                <tbody>
                <tr>
                    <th scope="row">Mein Benutzername: </th>
                    <td>{{ customer.customername }}</td>
                </tr>
                <tr>
                    <th scope="row">Emailadresse: </th>
                    <td>{{ customer.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Telefon: </th>
                    <td>{{ customer.phone }}</td>
                </tr>
                <tr>
                    <th scope="row">Mein Vorname: </th>
                    <td>{{ customer.firstname }}</td>
                </tr>
                <tr>
                    <th scope="row">Mein Nachname: </th>
                    <td>{{ customer.lastname }}</td>
                </tr>
                <tr>
                    <th scope="row">Straße: </th>
                    <td>{{ customer.street }}</td>
                </tr>
                <tr>
                    <th scope="row">Hausnummer: </th>
                    <td>{{ customer.streetnumber }}</td>
                </tr>
                <tr>
                    <th scope="row">Postleitzahl: </th>
                    <td>{{ customer.zipcode }}</td>
                </tr>
                <tr>
                    <th scope="row">Ort: </th>
                    <td>{{ customer.city }}</td>
                </tr>
                <tr>
                    <th scope="row">Bundesland: </th>
                    <td>{{ customer.state }}</td>
                </tr>
                <tr>
                    <th scope="row">Land: </th>
                    <td>{{ customer.country }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
