{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
    <h1>Meine Daten</h1>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    email
                </div>
                <div class="col">
                    {{ email }}
                </div>
            </div>
        </div>
        <br>
        <div class="container overflow-hidden text-center">
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3">email</div>
                </div>
                <div class="col">
                    <div class="p-3">{{ email }}</div>
                </div>
            </div>
        </div>
        <div>
            <table>
                <tbody>
                <tr>
                    <th scope="row">Email: </th>
                    <td>{{ email }}</td>
                </tr>
                <tr>
                    <th scope="row">Mein Vorname: </th>
                    <td>{{ customer.firstname }}</td>
                </tr>
                <tr>
                    <th scope="row">Mein Nachname: </th>
                    <td>{{ customer.lastname }}</td>
                </tr>
                <tr>
                    <th scope="row">Telefon: </th>
                    <td>{{ customer.phone }}</td>
                </tr>
                <tr>
                    <th scope="row">Straße: </th>
                    <td>{{ customer.street }}</td>
                </tr>
                <tr>
                    <th scope="row">Hausnummer: </th>
                    <td>{{ customer.streetnumber }}</td>
                </tr>
                <tr>
                    <th scope="row">Postleitzahl: </th>
                    <td>{{ customer.zipcode }}</td>
                </tr>
                <tr>
                    <th scope="row">Ort: </th>
                    <td>{{ customer.city }}</td>
                </tr>
                <tr>
                    <th scope="row">Bundesland: </th>
                    <td>{{ customer.state }}</td>
                </tr>
                <tr>
                    <th scope="row">Land: </th>
                    <td>{{ customer.country }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
