{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <h1>{{ location ? location : 'Alle Immobilien' }}</h1>
        <div>
        <h2 class="mt-5 mb-4">Filter</h2>
        <ul class="genre-list ps-0 mt-2 mb-3">
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Apartments zum Kaufen'
                }) }}">Apartments zum Kaufen</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Apartments zum Mieten'
                }) }}">Apartments zum Mieten</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Häuser zum Kaufen'
                }) }}">Häuser zum Kaufen</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Häuser zum Mieten'
                }) }}">Häuser zum Mieten</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all') }}">Alle Immobilien</a>
            </li>
        </ul>

        <div class="dropdown">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Weitere Filter
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dark-bg text-white" style="padding: 25px 50px 25px 50px">


            <form method="get" action="{{ path('app_house_all', {slug:category ? category.discription : null}) }}">
                <div class="row">
                    <div class="col-md-3">
                        <label for="preis" class="form-label">Preis</label>
                        <select class="form-select" name="preis" id="preis">
                            <option value="">Beliebig</option>
                            {% for label, range in priceRanges %}
                                <option value="{{ range[0] ~ '-' ~ range[1] }}" {{ selectedPreis == (range[0] ~ '-' ~ range[1]) ? 'selected' : '' }}>
                                {{ label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="town" class="form-label">Stadt</label>
                        <select class="form-select" name="town" id="town">
                            <option value="">Alle Städte</option>
                            {% for t in towns %}
                                <option value="{{ t }}" {{ selectedTown == t ? 'selected' : '' }}> {{ t }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="region" class="form-label">Region</label>
                        <select class="form-select" name="region" id="region">
                            <option value="">Alle Regionen</option>
                            {% for r in regions %}
                                <option value="{{ r }}" {{ selectedRegion == r ? 'selected' : '' }}> {{ r }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="country" class="form-label">Land</label>
                        <select class="form-select" name="country" id="country">
                            <option value="">Alle Länder</option>
                            {% for c in countries %}
                                <option value="{{ c }}" {{ selectedCountry == c ? 'selected' : '' }}> {{ c }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="btn btn-success" type="submit">Anwenden</button>
                    <a class="btn btn-light" href="{{ path('app_house_all') }}">Zurücksetzen</a>
                </div>
            </form>

            </ul>
        </div>



            <div class="container mt-5">
            <h2 class="mb-4">Immobilienbestand</h2>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                    {% for property in properties %}
                    <div class="col">
                        <div class="card text-bg-dark border-secondary mb-3">
                            <img src="{{ asset('bilder/' ~ property.bild) }}" class="card-img-top" alt="{{ property.propertyTitle}}">
                            <div class="card-body">
                                <h5 class="card-title">{{ property.propertyTitle }}</h5>
                                <p class="card-text"> {{ property.category }} | {{ property.preis }} €</p>
                                <br>
                                <span><a href="{{ path('app_create_property.show',{id: property.id}) }}" type="button" class="btn btn-success text-white">mehr Infos</a></span>
                                <span>
                                    {% if wishlistPropertyIds is defined and property.id in wishlistPropertyIds %}
                                        <button class="btn btn-secondary" disabled>gemerkt</button>
                                    {% else %}
                                        <a href="{{ path('app_wishlist_add', {id: property.id}) }}" class="btn btn-outline-primary">merken</a>
                                    {% endif %}
                                </span>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>

        </div>
    </div>
{% endblock %}
