{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ location ? location : 'Alle Immobilien' }}</h1>

        <h2 class="mt-5 mb-4">Filter</h2>
        <ul class="genre-list ps-0 mt-2 mb-3">
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Apartments zum kaufen'
                }) }}">Apartments zum Kaufen</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Apartments zum mieten'
                }) }}">Apartments zum Mieten</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Häuser zum kaufen'
                }) }}">Häuser zum Kaufen</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Häuser zum mieten'
                }) }}">Häuser zum Mieten</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_house_all', {
                    slug: 'Alle Immobilien'
                }) }}">Alle Immobilien</a>
            </li>

        </ul>

        <div>
            <h2 class="mt-5">Immobilienbestand</h2>
            {% for property in properties %}
            <div class="row">
                <div class="col">
                    <img src="{{ asset('bilder/' ~ property.bild) }}">
                </div>
                <div class="col">
                    <p class="mt-2"><strong>{{ property.propertyTitle }}</strong></p>
                    <span>{{ property.propertyDiscription }}</span> | <span>{{ property.preis }} €</span>
                    <p><a href="{{ path('app_create_property.show',{id: property.id}) }}" type="button" class="btn btn-success text-white">mehr Infos</a></p>
                </div>
                <div class="w-100"></div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
