{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 100px">
        <h1>Kontaktformular</h1>
        {% for message in app.flashes('success') %}
            <div class="alert-success"> {{ message }}</div>
        {% endfor %}


        {{ form_start(contactForm) }}
            {{ form_row(contactForm.name) }}
            {{ form_row(contactForm.email) }}
            {{ form_row(contactForm.subject) }}
            {{ form_row(contactForm.message) }}
            <button class="btn btn-primary">Absenden</button>
        {{ form_end(contactForm) }}

    </div>

{% endblock %}
